@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');




body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at 100%, rgb(138, 3, 3), rgb(116, 1, 1) 50%, rgb(0, 0, 0) 75%, rgb(100, 0, 0) 75%);
}


.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#time{
    font-size: 3rem;
}

.buttons{
    font-size: 2rem;
    radius: 3rem;
   
}   
.tag{
    color: rgb(216, 216, 216);
    font-size: 2rem;
    text-decoration: underline;
    
}

#display {
    font-family: 'Press Start 2P', cursive;
    color: rgb(6, 255, 6);
    background: radial-gradient(rgb(000, 100, 00), rgb(000, 50, 00));
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
}

#start{

}

#stop{

}

#reset{

}


p{
    color: white;
}