@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at 100%, rgb(138, 3, 3), rgb(116, 1, 1) 50%, rgb(0, 0, 0) 75%, rgb(100, 0, 0) 75%);
    font-family: 'Akaya Telivigala', cursive;
	text-shadow:0px 1px 0px #030303; 
}


.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#time{
    font-size: 3rem;
}

.buttons{
    font-size: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 2rem;
    padding-top: 2rem;  
}  

.tag{
    color: rgb(216, 216, 216);
    font-size: 1.3rem;
    text-decoration: underline;
    text-align: center;
    margin-top: 5rem;
    
}

#display {
    font-family: 'Press Start 2P', cursive;
    color: rgb(6, 255, 6);
    background: radial-gradient(rgb(000, 100, 00), rgb(000, 50, 00));
    border: 2px solid rgb(32, 59, 1);
    padding: 10px;
    box-shadow: 0px 10px 14px  #bbbbbb;
}

#start{
    box-shadow: 0px 10px 14px -7px #bbbbbb;
	background:linear-gradient(to bottom, #77b55a 5%, #277500 100%);
	border-radius:100%;
	border:0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Anton', sans-serif;;
	font-size:2rem;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #030303;    
}

#start:hover {
	background:linear-gradient(to bottom, #236900 5%, #39ad02 100%);
	background-color:#72b352;
}


#stop{
    box-shadow: 0px 10px 14px -7px #bbbbbb;
	background:linear-gradient(to bottom, #bb0404 5%, #5c0101 100%);
	border-radius:100%;
	border:0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Anton', sans-serif;;
	font-size:2rem;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #030303;
}
#stop:hover:hover {
	background:linear-gradient(to bottom, #8d0000 5%, #ff0000 100%);
	background-color:#72b352;
}



#reset{
    box-shadow: 0px 10px 14px -7px #bbbbbb;
	background:linear-gradient(to bottom, #ff6004 5%, #833501 100%);
	border-radius:100%;
	border:0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Anton', sans-serif;
	font-size:2rem;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #030303;
}
#reset:hover {
	background:linear-gradient(to bottom, #863d00 5%, #ff5202 100%);	
}

p{
    color: white;
}

.message{
    color: white;
	font-family: 'Pacifico', sans-serif;
}

footer{
	text-align:center;
}